In [1]:
import os
import glob
import pandas as pd

In [3]:
new = pd.read_csv("../src/processing_area_may_18.csv")
old = pd.read_csv("../src/processing_area.csv")

In [4]:
new.head(5)

   Unnamed: 0         Y          X sovereignt  Y_tile  X_tile
0           0 -4.750000  12.194444     Angola     878    1905
1           1 -4.750000  12.527778     Angola     878    1911
2           2 -4.750000  12.916667     Angola     878    1918
3           3 -4.805556  12.138889     Angola     877    1904
4           4 -4.805556  12.194444     Angola     877    1905

In [55]:
new.head(5)

   Unnamed: 0         Y          X sovereignt  Y_tile  X_tile
0           0 -4.750000  12.194444     Angola     878    1905
1           1 -4.750000  12.527778     Angola     878    1911
2           2 -4.750000  12.916667     Angola     878    1918
3           3 -4.805556  12.138889     Angola     877    1904
4           4 -4.805556  12.194444     Angola     877    1905

In [71]:
base_folder = "../project-monitoring/tof/"
from shutil import copyfile

for folder_y in os.listdir(base_folder):
    if "." not in folder_y:
        for folder_x in os.listdir(base_folder + folder_y):
            if "." not in folder_x:
                for file in os.listdir(base_folder + folder_y + "/" + folder_x):
                    if file[-4:] == ".tif":
                        source_file = file
                        source = old[old['X_tile'].astype(str) == folder_y]
                        source = source[source['Y_tile'].astype(str) == folder_x]
                        source = source.reset_index(drop = True)
                        source_y = source['Y'][0]
                        source_x = source['X'][0]
                        dest = new[np.isclose(new['Y'], source_y)]
                        dest = dest[np.isclose(dest['X'], source_x)]
                        dest = dest.reset_index(drop = True)
                        dest_x = dest['X_tile'][0]
                        dest_y = dest['Y_tile'][0]
                        #print(folder_y, dest_x)
                        #print(folder_x, dest_y)
                        
                        new_dir = "../project-monitoring/tiles/" + str(dest_x) + "/" + str(dest_y) + "/"
                        new_file = f'{new_dir}{dest_x}X{dest_y}Y_v1.tif'
                        old_file = f'{base_folder}{folder_y}/{folder_x}/{file}'
                        
                        
                        if not os.path.exists(os.path.realpath(new_dir)):
                            os.makedirs(os.path.realpath(new_dir))
                        copyfile(old_file, new_file)

In [17]:
import numpy as np